body {
    background-color:cornflowerblue;
  }
.motivation-img{
    border: 5px solid white;
    width:70%;
}
.poster{
text-align:center;
width:100%;
margin-top: 10opx;

}
h2{
text-transform:uppercase;
text-size:3rem;}