/* Don't change the existing CSS. */



#outer-box{
  background-color: purple;}


.box {
  background-color: blue;
  padding: 20px;

}
.inner-box{
  background-color: rgb(98, 16, 16);}
p {
  color: yellow;
  margin: 0;
  padding: 0;
}
#white-text{
  color: white;}
